* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --very-dark-blur: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  /* Accent colors */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  /* Neutral colors */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  width: 23.4375rem;
  background-color: var(--light-grayish-blue);
  margin: 0 auto;
}

/* Header */

.main-header__container {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.5rem 6.125rem 1.5rem;
}

.main-header__logo {
  width: 4.875rem;
  height: 1.25rem;
}

.main-header__manu-list {
  list-style: none;
  display: flex;
}

.main-header__menu-list-item {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: var(--very-dark-blur);
  margin-right: 1.5rem;
}

.main-header__menu-list-item:last-child {
  margin-right: 0rem;
}

.main-section__container {
}

.main-section__img {
  width: 81%;
  height: auto;
  margin: 0 2.25rem 2.5rem;
}

.main-section__inside-container {
}

.main-section__article-container {
}

.main-section__article-heading {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  color: var(--very-dark-blur);
  margin: 0 1.75rem 1.5rem;
}

.main-section__article-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: var(--very-dark-blur);
  margin: 0 2.6875rem 2rem 2.25rem;
}

.main-section__form-container {
}

.main-section__input-field {
  width: 19rem;
  height: 2.5rem;
  margin: 0 2.0625rem 1rem 2.375rem;
  padding-left: 1.25rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.025rem;
  font-family: "Raleway";
  color: var(--light-gray);
}

.main-section__button {
  width: 19rem;
  height: 2.5rem;
  box-shadow: 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.15925);
  border-radius: 0.1953rem;
  background-color: var(--bright-blue);
  border: none;
  margin: 0 2.0625rem 11.4375rem 2.375rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "Raleway";
  color: #ffffff;
}

.main-section__button:hover {
  background-color: #6c9bff;
  cursor: pointer;
}

.second-section__container {
}
.second-section__img {
  width: 85%;
  height: auto;
  margin: 0 1.75rem 5.4375rem 1.75rem;
}

.second-section__article-container {
  background-image: url(../images/bg-curve-mobile.svg);
  position: center top;
}

.second-section__article-heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--very-dark-blur);
  margin: 0 3.4375rem 1.5rem 3.4375rem;
}

.second-section__article-text-1 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: var(--very-dark-blur);
  margin: 0 2.1875rem 1rem 1.25rem;
}

.second-section__article-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: var(--very-dark-blur);
  margin: 0 2.1875rem 2.25rem 1.25rem;
}

.second-section__link {
  margin: 0 7.8125rem 0 7.6875rem;
}

.second-section__link:link {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #3da08f;
  text-underline-offset: 0.375rem;
}

.second-section__link:visited {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #3da08f;
  text-underline-offset: 0.375rem;
}

.second-section__link:hover {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #71dfcc;
  text-underline-offset: 0.375rem;
}

.second-section__link:active {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #3da08f;
  text-underline-offset: 0.375rem;
}

.second-section__link-img {
  width: 0.75rem;
  height: 0.75rem;
}

.second-section__card-container {
  width: 17.5rem;
  /* height: 10.5625rem; */
  margin: 2.5rem 2.9375rem 5.125rem 2.9375rem;
  display: flex;
  flex-direction: column;
  padding: 2.4063rem 1.125rem 1.1875rem 1.625rem;
  box-shadow: 0rem 0rem 0.5rem 0.25rem rgba(56, 56, 56, 0.0458843);
  border-radius: 0.2458rem;
  background-color: #ffffff;
}

.second-section__quote-img {
  margin-bottom: 0.4375rem;
}

.second-section__card-text {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.125rem;
  letter-spacing: 0.024rem;
  color: var(--very-dark-blur);
  margin-bottom: 0.8125rem;
}

.second-section__profile-container-1 {
  display: flex;
}

.second-section_profile-container-2 {
  display: flex;
  flex-direction: column;
}

.second-section__profile-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.4688rem;
}
.second-section__profile-name {
  font-weight: 700;
  font-size: 0.5625rem;
  line-height: 0.75rem;
  letter-spacing: 0.0281rem;
  color: var(--very-dark-blur);
}
.second-section__profile-status {
  font-weight: 400;
  font-size: 0.375rem;
  line-height: 0.75rem;
  letter-spacing: 0.0187rem;
  color: var(--very-dark-blur);
}

.third-section__container {
  padding-top: 3.375rem;
  width: 100%;
  height: auto;
  background-color: var(--desaturated-blue);
}

.third-section__article-container {
}

.third-section_article-heading {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin: 0 5.6875rem 1rem 5.5625rem;
}

.third-section__article-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #ffffff;
  margin: 0 2.9375rem 1.5rem 3rem;
}

.third-section__form-container {
}

.third-section__input-field {
  width: 15rem;
  height: 2rem;
  margin: 0 4.3125rem 0.5rem 4.125rem;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: var(--light-gray);
  padding-left: 0.625rem;
}

.thitd-section__button {
  width: 15rem;
  height: 2rem;
  background-color: var(--bright-blue);
  color: #ffffff;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.75rem;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(7, 4, 59, 0.157043);
  border-radius: 0.0919rem;
  border: none;
  margin: 0 4.3125rem 4.4375rem 4.125rem;
}

.thitd-section__button:hover {
  background-color: #6c9bff;
  cursor: pointer;
}

.main-footer__container {
  width: 100%;
  background-color: var(--very-dark-blur);
  padding-bottom: 2.625rem;
}

.main-footer-_logo {
  width: 6.5625rem;
  height: 1.875rem;
  filter: brightness(0) invert(1);
  margin: 4.0625rem 14.4375rem 2rem 2.4375rem;
}

.main-footer__menu-list-1 {
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.main-footer__menu-list-1-item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.main-footer__menu-list-1-item-1 {
  list-style-image: url(../images/icon-phone.svg);
}

.main-footer__menu-list-1-item-1 span {
  position: relative;
  left: 0.9375rem;
}

.main-footer__menu-list-1-item-2 {
  list-style-image: url(../images/icon-email.svg);
}

.main-footer__menu-list-1-item-2 span {
  position: relative;
  left: 0.9375rem;
}

.main-footer__menu-list-1-item:first-child {
  margin-bottom: 1rem;
}

.main-footer__menu-list-1-item:hover {
  color: #6c9bff;
  cursor: pointer;
}

.main-footer__menu-list-2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffffff;
  margin-left: 2.4375rem;
  list-style: none;
}

.main-footer__menu-list-2-item {
  margin-bottom: 1rem;
}

.main-footer__menu-list-2-item:hover {
  color: #6c9bff;
  cursor: pointer;
}

.main-footer__menu-list-2 .main-footer__menu-list-2-item:last-child {
  margin-bottom: 2.0313rem;
}

.main-footer__menu-list-3 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffffff;
  list-style: none;
  margin-left: 2.4375rem;
}

.main-footer__menu-list-3-item {
  margin-bottom: 1rem;
}

.main-footer__menu-list-3-item:hover {
  color: #6c9bff;
  cursor: pointer;
}

.main-footer__menu-list-3 .main-footer__menu-list-3-item:last-child {
  margin-bottom: 2rem;
}

.social-list {
  color: #ffffff;
  list-style: none;
  display: flex;
  margin: 0 8.5rem 0 8.5rem;
  font-size: 1.5rem;
}

.social-list__item {
  margin-right: 0.6875rem;
}

.social-list__item:hover {
  color: #6c9bff;
  cursor: pointer;
}

.fa {
}

.fa-facebook-official {
}

.fa-instagram {
}

.fa-twitter {
}

@media only screen and (min-width: 71.875rem) {
  .main-container {
    width: 90rem;
    background-color: var(--light-grayish-blue);
    margin: 0 auto;
  }

  .main-header__container {
    margin: 4.125rem 5rem 5.4375rem 5rem;
  }

  .main-header__logo {
    width: 9.9688rem;
    height: 3.0625rem;
  }

  .main-header__menu-list-item {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-right: 3.5625rem;
  }

  .main-section__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 5rem 21.375rem 5rem;
  }

  .main-section__img {
    width: 40rem;
    height: 29.625rem;
    margin: 0;
  }

  .main-section__article-heading {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.75rem;
    text-align: left;
    color: var(--very-dark-blur);
    margin: 0 0 0.9375rem 0;
  }

  .main-section__article-text {
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    letter-spacing: 0.0332rem;
    text-align: left;
    color: var(--very-dark-blur);
    margin: 0 0 1.5625rem 0;
  }

  .main-section__form-container {
    display: flex;
  }

  .main-section__input-field {
    width: 20rem;
    height: 2.8125rem;
    margin: 0;
  }

  .main-section__button {
    width: 12.5rem;
    height: 2.8125rem;
    margin: 0 0 0 1rem;
  }

  .second-section__container {
    display: flex;
    flex-direction: row-reverse;
  }

  .second-section__img {
    width: 33.875rem;
    height: 25.5625rem;
    margin: 0 5rem 0 0;
  }

  .second-section__article-heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.9375rem;
    text-align: left;
    margin: 0 0 0 5rem;
    margin-bottom: 2.375rem;
  }

  .second-section__article-text-1 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-align: left;
    color: var(--very-dark-blur);
    margin: 0 13.0625rem 1rem 5rem;
  }

  .second-section__article-text-2 {
    text-align: left;
    margin: 0 13.0625rem 0.9375rem 5rem;
  }

  .second-section__link {
    margin: 0 0 3.5625rem 5rem;
  }

  .second-section__card-container {
    width: 22.25rem;
    height: 13.4375rem;
    margin: 2.8125rem 0 6.6875rem 5rem;
    display: flex;
    flex-direction: column;
    padding: 2.4063rem 1.125rem 1.1875rem 1.625rem;
    box-shadow: 0rem 0rem 0.5rem 0.25rem rgba(56, 56, 56, 0.0458843);
    border-radius: 0.2458rem;
    background-color: #ffffff;
  }

  .third-section__container {
    padding: 6.25rem 7.5rem 0 5rem;
    display: flex;
  }

  .third-section_article-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 1.0625rem 0;
  }

  .third-section__article-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: 0.0313rem;
    margin: 0 14.1875rem 5.3125rem 0;
  }

  .third-section__form-container {
  }

  .third-section__input-field {
    width: 30rem;
    height: 3rem;
    margin: 0 0 2.125rem 0;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .thitd-section__button {
    width: 12.5rem;
    height: 3rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(7, 4, 59, 0.157043);
    border-radius: 0.0919rem;
    border: none;
    margin: 0 0 5rem 0;
  }

  .main-footer__container {
    padding: 10.5625rem 0 5.375rem 6.125rem;
    display: flex;
    justify-content: flex-start;
  }

  .main-footer-_logo {
    width: 6.5625rem;
    height: 1.875rem;
    margin: 0;
    position: absolute;
    top: 1.875rem;
  }

  .main-footer__menu-list-1 {
    margin-left: 0;
    margin-bottom: 1rem;
    margin-right: 13.875rem;
  }

  .main-footer__menu-list-2 {
    margin-left: 0;
    margin-right: 12.5rem;
  }

  .main-footer__menu-list-3 {
    margin-left: 0;
    margin-right: 11.5625rem;
  }

  .social-list {
    margin: 0;
  }
}
